/* tags do cabeçalho da página principal */

header {
    /* background: #BBBBBB; */
    padding: 20px 0;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}


header div.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

header div.caixa h1 img:hover {
    /* text-decoration: underline; */
    color: #ffffff;
    transition: all 0.8s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    transform: scale(1.2) rotate(360deg);
   

}

header nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

header nav li {
    display: inline;
    margin-left: 15px;
}


header nav a {
    display: inline;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

header nav a:hover {
    /* text-decoration: underline; */
    color: #808080;
    transition: all 0.5s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));

}

/* Tags do MAIN do projeto */

main  {
    width: 940px;
    margin: 0 auto;
    
}

main form {  
    margin: 40px auto;
}

main form label, form legend{
    display: block;
    font-size: 15px;
    margin: 10px 0 10px 0;
}

main form .inputPadrao {
    display: block;
    margin-bottom: 15px;
    padding: 5px 15px;
    width: 50%;
}

main form label.checkbox, div.atendimentoHorario {
    margin: 30px 0;
}

main .enviar {
    width: 40%;
    padding: 15px 0;
    background: #808080;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main .enviar:hover{
    color: #ffffff;
    transition: all 0.8s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    /* transform: scale(1.2);
    transform: rotate(360deg); */

}

/* Tabela da página contatos */

main table {
    margin: 20px 0 40px 0;
    width: 40%;
    border: #000000 solid 2px;
}

main table thead {
    background-color: #808080;
    text-align: center;
    font-size: 18px;
}

main table thead tr td, th {
    border-bottom: #000000 solid 2px;
    padding: 15px 8px;
}

main table tbody tr td {
    padding: 20px;
    border: #000000 solid 2px;
    text-align: center;
}





/* Tags do footer da página */

footer {
    text-align: center;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}

footer img:hover {
    color: #ffffff;
    transition: all 0.5s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

footer p.rodape {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}