/* tags do cabeçalho da página produtos */

header {
    background: #BBBBBB;
    padding: 20px 0;
}


header div.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

header nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

header nav li {
    display: inline;
    margin-left: 15px;
}


header nav a {
    display: inline;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    color: #B03060;
}

/* Tags do main principal da página produtos */

main ul.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}


main ul.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: #000000 2px solid;
    border-radius: 10px;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
}

main ul.produtos li:hover{
    border-color: #B03060;  
}

main ul.produtos li:hover p{
    color: #B03060; 
    font-size: 90px; 
    zoom: 105%
}

main ul.produtos li:active{
    border-color: #ff0000;
    font-size: 40px;
    zoom: 105%;
}

main ul.produtos li h2:hover{
    color: #B03060;
    zoom: 110%;
}


main ul.produtos li h2 {
    font-size: 30px;
    font-weight: bold;
}

main ul.produtos li p.descrProduto{
    font-size: 18px;
    
}

main ul.produtos li p.preco {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}