body {
    background-color: #CCCCCC;
}


h1 {
    text-align: center;
    color: black;
}


p {
    text-align: center;
    color: black;
}


p#temaPrincipal {
    font-size: 20px;
}

p#temaPrincipal em strong {
    color: red;
}