body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: #FEFEFE;
    scroll-behavior: smooth;
}

/* Imagem principal do site */

img#banner {
    width: 100%;
    height: 30%;
}


/* tags do cabeçalho da página principal */

header {
    /* background: #BBBBBB; */
    padding: 20px 0;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}


header div.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

header div.caixa h1 img:hover {
    /* text-decoration: underline; */
    color: #ffffff;
    transition: all 0.8s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    transform: scale(1.2) rotate(360deg);
}

header nav {
    position: absolute;
    top: calc(50%);
    right: 0px;
}

header nav li {
    display: inline;
    margin-left: 15px;
}


header nav a {
    display: inline;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

header nav a:hover {
    /* text-decoration: underline; */
    color: #808080;
    transition: all 0.5s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));

}

img.banner {
    width: 100%;
    opacity: 0.9;
}

img.banner:hover {
    transition: all 0.9s;
    opacity: 1;
}

/* Tudo da parte principal (main) da página */


main section.principal {
    padding: 3em 0;
    background-color: #FEFEFE;
    margin: 0 10%;
    font-family: sans-serif;
}

main section .titulo {
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear: left;
}

/* 
TODO ESTUDAR PSEUDO ELEMENTOS ::after e ::before 
TODO ESTUDAR SELETORES AVANÇADOS = > + < ~ :not()

main section.principal h2.titulo::before {
    background:linear-gradient(orange, black);
    content: "[";
}

main section.principal h2.titulo::after{
    background: linear-gradient(black, orange);
    content: "]";
} */

main section.principal img.utensiliosBarbearia {
    width: 9%;
    float: left;
    margin: 0 20px 20px 0;
}

main section p {
    margin: 0 0 2em;
}


main section.principal p strong {
    font-weight: bold;
}

main section.principal p em {
    font-style: italic;
}

/* Sessao Mapas */

main section img.beneficiosJPG {
    width: 60%;
    box-shadow: 10px 10px 20px #000;
}

main section.mapa {
    text-align: center;
    background: linear-gradient(#FEFEFE, #888888, #ffffff);
}

main section.mapa p {
    text-align: center;
    margin: 0 10% 2em 10%;
}

main section.mapa,
.beneficios {
    padding: 3em 0;
    font-family: sans-serif;
}

main section.mapa iframe {
    margin-bottom: 100px;
}

/* Sessão Beneficios */

main section.beneficios {
    background: linear-gradient(#FEFEFE, #888888);
    text-align: center;
}

main section.beneficios div.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

main section.beneficios div.conteudo-beneficios ul.lista-beneficios {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 40%;
}


main section.beneficios div.conteudo-beneficios ul li.itens {
    line-height: 1.5em;
}

main section.beneficios div.conteudo-beneficios ul li.itens::before {
    font-weight: bold;
    color: #000;
    content: "★ ";
}


main section.beneficios div.conteudo-beneficios ul li.itens:first-child {
    font-weight: bold;
}


main section.beneficios div.conteudo-beneficios img {
    margin-bottom: 10%;
    width: 60%;
}

/* Tags do footer da página */

footer {
    text-align: center;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}

footer img:hover {
    color: #ffffff;
    transition: all 0.5s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));

}

footer p.rodape {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}





/* Media queries */

@media screen and (max-width: 480px) {
    
    header nav {
        position: static;
    }

    header nav a {
        text-align: center;
        font-size: 1.5em;

    }

    header div.caixa h1 {
        text-align: center;
    }

    header div.caixa,
    .principal,
    .mapa,
    .conteudo-beneficios,
    .beneficios {
        width: auto;
    }

    main section.beneficios div.conteudo-beneficios {
        width: auto;
        margin: 5%;
    }

    main section.principal img.utensiliosBarbearia {
        width: 25%;
    }



    main section.beneficios div.conteudo-beneficios img, ul.lista-beneficios {
        
        width: 100%;
    }

    main section.beneficios div.conteudo-beneficios ul.lista-beneficios {
        margin-bottom: 20px;
    }

    main section.mapa {
        padding: 1em 0;
    }




}