body {
    font-family: 'Montserrat', sans-serif;;
    height: 100%;
    background: #ffffff;
    scroll-behavior: smooth;
}

/* Imagem principal do site */

img#banner {
    width: 100%;
    height: 30%;
}



/* tags do cabeçalho da página principal */

header {
    /* background: #BBBBBB; */
    padding: 20px 0;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}


header div.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

header div.caixa h1 img:hover {
    /* text-decoration: underline; */
    color: #ffffff;
    transition: all 0.8s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    transform: scale(1.2) rotate(360deg);
}

header nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

header nav li {
    display: inline;
    margin-left: 15px;
}


header nav a {
    display: inline;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

header nav a:hover {
    /* text-decoration: underline; */
    color: #808080;
    transition: all 0.5s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));

}

img.banner {
    width: 100%;
}

/* Tudo da parte principal (main) da página */

main {
    margin: 0 10%;
    font-family: sans-serif;
}

main section .titulo {
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear: left;
}

main section.principal img.utensiliosBarbearia{
    width: 9%;
    float: left;
    margin: 0 20px 20px 0;
}

main section p {
    margin: 0 0 2em;
}


main section.principal p strong {
    font-weight: bold;
}

main section.principal p em {
    font-style: italic;
}

/* Sessao Mapas */

main section img.beneficiosJPG {
    width: 60%;
}

main section.mapa p{
    margin: 0 10% 2em 10%;
}

main section.mapa, .beneficios {
    padding: 3em 0;
    margin: 0 10%;
}

main section.mapa iframe {
    margin-bottom: 100px;
}

/* Sessão Beneficios */

main section.beneficios div.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

main section.beneficios div.conteudo-beneficios ul.lista-beneficios {
    vertical-align: top;
    display: inline-block;
    width: 40%;
}


main section.beneficios div.conteudo-beneficios ul li.itens{
    line-height: 1.5em;
}

main section.beneficios div.conteudo-beneficios ul li.itens:first-child{
    font-weight: bold;
}


main section.beneficios div.conteudo-beneficios img {
    margin-bottom: 10%;
    width: 60%;
}

/* Tags do footer da página */

footer {
    text-align: center;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}

footer img:hover {
    color: #ffffff;
    transition: all 0.5s;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));

}

footer p.rodape {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}